/* Limpando formatações padrões */

*{
margin: 0;
padding: 0;	
}

body{
	font-size: 1 em;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
	background: #e6e6e6;
}

/* Links */

a{
text-decoration: none;
padding: 8px 12px;
}
        a:link{
			color: #4e4e4e;
		}

		a:visited{
			color: #4e4e4e;
		}

		a:hover{
			color: #f7b600;
			background: #FFF;
		}

		a:active{
			color: darkoranges;
		}

/* Cabeçalho */

#cabecalho{
	background-color: #f7b600;
	text-align: center;
	padding: 15px;
}

#logo{
	padding: 12px;
}

#menu{
padding: 12px;
margin-top: 10px;
}


/* Layout */

#principal{
width: 920px;
margin: 12px auto;
background: #e6e6e6;

}

#postagens{
width: 660px;
background: white;
float: left;
}

.lateral{
width: 240px;
float: right;
background: white;
}

.conteudo-lateral{
background: white;
padding: 10px;
margin-bottom: 20px;
}

.postagens-lateral{
font-size: 0.8em;
padding: 5px;

}

#rodape{
	clear: both;
	background: #CCC;
	text-align: center;
	padding: 15px;
}


.posts{
	padding: 20px;
	margin-bottom: 20px;
}



/* Formatação geral */

h1{
	color: #4e4e4e;
	font-size: 2.5em;
}

h2{
	color: #f7b600;
}

.branco{
	color: white;
}

.datap{
	display: block;
	font-size: 0.8em;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

h3{
	color:#565656 ;
	background-color: #CCC;
	padding: 5px;
	margin-bottom: 5px;
}

/*  */